<!-- <div class="c-newsletter">
  <div class="c-newsletter__header">
    <h4 class="c-newsletter__title">Newsletter</h4>
    <div class="c-newsletter__subtitle">Get Inspired Ideas and Subscribe to Pick Up Strength!</div>
  </div>
  <form class="c-newsletter-form validate" action="{% if site.mailchimp %}//{{site.mailchimp}}{% else %}#{% endif %}" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>

    <div class="c-newsletter-form__group">
      <label class="u-screen-reader-text" for="mce-FNAME">First Name</label>
      <input type="text" value="" name="FNAME" class="c-newsletter__email required email" id="mce-FNAME" placeholder="First Name" autocomplete="on">
    </div>

    <div class="c-newsletter-form__group">
      <label class="u-screen-reader-text" for="mce-EMAIL">E-Mail Address</label>
      <input class="c-newsletter__email required email" id="mce-EMAIL" type="email" name="EMAIL" placeholder="Your E-Mail Address" autocomplete="on">
      <input class="c-newsletter__button" id="mc-embedded-subscribe" type="submit" name="subscribe" value="I'm in!">
    </div>


  </form>
</div> <!-- /.c-newsletter --> 


<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"60ebcb361753fd00c76787553","lid":"d48bb0efd3"}) })</script>