/* ===============
	TYPOGRAPHY
=============== */

// Body font
$base-font-size: 15px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
$base-line-height: 28px;


// Headings
$heading-font-weight: 400;
$heading-font-family: 'Volkhov', 'Spectral', Times, serif;


// Quotes
$quote-font-size: 26px;
$quote-font-family: Spectral, serif;
$quote-font-style: normal;
$quote-font-weight: normal;

